.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
  }

  .join-button {
    background-color: white;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    color: rgb(41, 118, 211);
    height: 36px; 
    width: 62px;
    cursor: pointer;
    margin-right: 8px;
  }

  .tweet-button {
    background-color: rgb(41, 118, 211);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .request-button {
    background-color: black;
    color: white;
    font-size: small;
    border: none;
    height: 36px;
    width: 120px;
    cursor: pointer;
  }

  .cart-button {
    background-color: rgb(255,216,20);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    height: 36px;
    width: 150px;
    cursor: pointer;
  }

  .git-button {
    background-color: rgb(46,164,79);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    height: 36px;
    width: 90px;
    cursor: pointer;
  }

  .boot1-button {
    background-color: rgb(121,82,179);
    color: white;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    height: 36px;
    width: 100px;
    cursor: pointer;
    margin-right: 5px;
  }

  .boot2-button {
    background-color: white;
    color: rgb(108,117,125);
    border-color: rgb(108,117,125);
    border-radius: 2px;
    border-style: solid;
    font-weight: bold;
    height: 36px;
    width: 90px;
    cursor: pointer;
  }

  .linkedin1-button {
    background-color: rgb(10,102,194);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    height: 36px;
    width: 230px;
    cursor: pointer;
  }

  .linkedin2-button {
    background-color: white;
    color: rgb(10,102,194);
    border-color: rgb(10,102,194);
    border-style: solid;
    font-weight: bold;
    border-radius: 20px;
    height: 36px;
    width: 80px;
    cursor: pointer;
  }

  .link {
    color: rgb(0,113,133);
  }

  .name {
    font-size: x-large;
    font-weight: bold;
  }

  .price {
    color: rgb(0,118,0);
    font-weight: bold;
  }

  .info {
    font-weight: bold;
  }

  .button1 {
    background-color: rgb(255,216,20);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    height: 36px;
    width: 150px;
    cursor: pointer;
  }

  .button2 {
    background-color: rgb(255,164,28);
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    height: 36px;
    width: 150px;
    cursor: pointer;
  }